<h1> <%= title %> Me </h1>

<img src="content/images/aboutmephoto.jpg">
<div class= aboutMeDiv><h3>
    <br><br>Full name: Wilson Wu
    <br><br>About me:
    <ul>
        <li>I was a Pharmaceutical Chemistry student at the University of Guelph when I decided to switch fields and pursue a career in Software Engineering</li>
        <li>I have always excelled in regards to problem solving and have developed methods to solve problems, whether they be in Math, Chemistry, Physics, or Programming</li>
        <li>I am a passionate programmer and enjoy learning different types of APIs and languages in order to build projects with higher degrees of difficulty</li>
    </ul>
    Click here to <a href="content/files/resume.pdf" download>
    <b>download</b></a> my resume
</h3></div>

