<h1> <%= title %>  </h1>
<p>Please complete the all fields below:</p>
<form name='registration'>
<ul>
<li><label for="userid">First name: </label></li>
<li><input type="text" name="fname"/></li>
<li><label for="passid">Last name: </label></li>
<li><input type="text" name="lname" /></li>
<li><label for="email">Email:</label></li>
<li><input type="text" name="email"/></li>
<li><label for="message">Message: </label></li>
<li><input type="text" name="message"/></li>
<li><input type="submit" name="submit" value="Register Now"onClick="return formValidation();"/></li>
<li><input type="reset" name="reset" value="Clear Form" onClick="return confirmreset()" /></li>
</ul>
</form>
