<h1> <%= title %>  </h1>
<img src="content/images/project1.PNG">
<div class="project1">This project is a gallery which automatically flips through photos with an interval of 5 seconds.
<br>It was created with javascipt and allowed users to upload photos within the gallery to flip through.</div>

<img src="content/images/project2.PNG">
<div class="project2"><br>This project is a game created with javascript which creates a hitbox for a spider and registers click events when the users cursor is within the hitbox of the spider.
    <br>There a counter which updates everytime there is a click event within the spider. 
    <br>It also increments the speed of the spider everytime the score is increased.
    <br>The reset speed and score buttons reset whichever button is pressed.
</div>

<img src="content/images/project3.PNG" style="margin-bottom:50px;">
<div class="project3">
This project is a form which allows users to input fields to be parsed into a .json file after the Register Now button event is clicked on.
<br>There are restrictions on the button which do not allow the user to submit their form unless all the fields are completed.

</div>