<h1> <%= title %>  </h1>
<div class="services">
I offer the services listed below:
<ul>
    <li>Programming in languages like C#, C++, Java</li>
    <li>Managing databases using SQL queries and PL/SQL</li>
    <li>Website development using Javascript, HTML, PHP</li>
</ul>
<img src="content/images/Csharp.png" style="height: 250px;">
<img src="content/images/C++.png" style="height: 250px;">
<img src="content/images/java.png" style="height: 250px;">
<img src="content/images/sql.png" style="height: 250px;">
<img src="content/images/html.png" style="height: 250px;">
</div>